body {
    background:  beige, solid, repeat-y;
}

.parallax-background {
    position: relative;
    height: 100vh;
    width: 100vh;

    background:  beige, solid, repeat-y;
    background-size: cover;
}  