@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

.parallax-body {
    position: relative;
    height: 100vh;
    width: 100vh;

    background:  blanchedalmond, solid, repeat-y;
    background-size: cover;
    text-align: center;
}  

.parallax-header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 2rem;
}

.parallax-h1-Titulo_do_Cordel {
    padding-top: 50px;
    font-variant: small-caps;
}

.parallax-p {
    padding-top: 50px;
    text-align: center;
}

.parallax-a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

.parallax-a a:hover, .parallax-footer a:hover{
    text-decoration: underline;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

section.content {
    background-color: rgba(0, 0, 0, 0.482);
    font: Arial, Helvetica, sans-serif, 20px;
    text-align: center;
    background: fixed, cover, no-repeat;
    background-attachment: fixed;
    
}

section.image {
    background-color: rgba(0, 0, 0, 0.482);
   font-family: Arial, Helvetica, sans-serif;
   font: Arial, Helveltica, sans-serif, 20px;
   background: fixed, cover, no-repeat;
   background-attachment: fixed;
}

footer {
     background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.parallax-footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
